<h2>Login Page</h2>

<.form for={@form} action={@action} method="post">
  <div>
    <.input field={@form[:email]} label="Email" />
  </div>

  <div>
    <.input field={@form[:password]} type="password" label="Password" />
  </div>

  <div>
    <.button>Submit</.button>
  </div>
</.form>

<%= if msg = Phoenix.Flash.get(@flash, :info) do %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= if msg = Phoenix.Flash.get(@flash, :error) do %>
  <div class="alert alert-error">
    <%= msg %>
  </div>
<% end %>
